<!doctype html>
<html>
  <head>
    <title>MVC - Example</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <ul>
      <% authors.forEach((author) => { %>
        <li><%= author.name %></li>
        <a href=<%= `/authors/${author.id}` %>>Details</a>
      <% }) %>
    </ul>
    <a href="/authors/new">Create new author</a>
  </body>
</html>