<!doctype html>
<html>
  <head>
    <title>MVC with Express</title>
  </head>
  <body>
    <div>
      <p>Name: <%= author.name %></p>
    </div>
    <a href="/authors">Return to Homepage</a>
  </body>
</html>